:root {
  --descripcion: hsl(215, 51%, 70%);
  --valor: hsl(178, 100%, 50%);
  --mainBackground: hsl(217, 54%, 11%);
  --cardBackground: hsl(216, 50%, 16%);
  --linea: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);

  --fuente: "Outfit", sans-serif;
}
html {
  box-sizing: border-box;
  font-family: 62.5%; /* 1rem = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--mainBackground);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}
a,
a:visited,
a:hover,
a:active {
  color: rgb(132, 205, 132);
}

.card {
  width: 19rem;
  background-color: var(--cardBackground);
  border-radius: 1rem;
}

.card {
  padding: 1.3rem;
}
.imagen {
  border-radius: 0.5rem;
  position: absolute;
  width: 100%;
}
.contenedor-nft-imagen {
  position: relative;
  border-radius: 0.5rem;
  height: 16rem;
  overflow: hidden;
  background-size: cover;
}

.sombra {
  height: 100%;
}
#icon-eye {
  position: absolute;
  left: 42%;
  top: 40%;
  display: none;
}

.titulo {
  margin-top: 2rem;
  color: var(--White);
  font-family: var(--fuente);
  font-size: 1.3rem;

  font-weight: 600;
}
.descripcion {
  height: 3.5rem;
  margin: 1rem 0 0.2rem 0;
}

.descripcion p {
  margin: 0;
  font-family: var(--fuente);
  color: var(--descripcion);
  font-size: 0.94rem;
  line-height: 1.5;
  font-weight: 400;
  opacity: 0.8;
}
/*  PRECIO Y DIAS   */
.valor {
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: space-between;
}
.caja {
  justify-items: center;
  display: flex;
}
.valor__imagen {
  background-size: 0.5;
}

.valor__token-texto {
  margin: 0;
  color: var(--valor);
  font-family: var(--fuente);
  margin-left: 0.5rem;
  font-size: 0.9rem;
  
  font-weight: 400;
}

.valor__timer-texto {
  margin: 0;
  color: var(--descripcion);
  font-family: var(--fuente);
  margin-left: 0.5rem;
  font-size: 0.95rem;

}

/* Creador */
.linea {
  border-top: 2px var(--linea) solid;
  margin-top: 0.6rem;
  opacity: 0.6;
}
.autor {
  display: flex;
  width: 100%;
  height: 4rem;
}
.fondo__imagen {
  background-color: var(--White);
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
  margin: 1rem 0;
}

.autor__imagen {
  padding: 0.05rem;
  background-size: cover;
  background-size: 5rem;
}
.autor p {
  margin-left: 1.1rem;
  margin-top: 1.6rem;
  font-family: var(--fuente);
  color: var(--descripcion);
  font-size: 0.85rem;
  font-weight: 400;
}
.autor--name {
  color: var(--White);
}

.attribution {
  margin-top: 2rem;
  text-align: center;
  color: var(--White);
  font-family: var(--fuente);
  font-size: 0.8rem;
}

/* Interactive states */

.imagen:hover,
.autor--name:hover,
.titulo:hover {
  color: var(--valor);
  cursor: pointer;
}
.sombra:hover {
  background-color: var(--valor);
  cursor: pointer;
}

.imagen:hover ~ #icon-eye {
  display: block;
}

.imagen:hover {
  opacity: 0.5;
}

@media (min-width: 1024px) {
  .card {
    margin-top: 5rem;
    width: 22rem;
  }
  .contenedor-nft-imagen {
    height: 19rem;
  }
  .titulo {
    margin-top: 1.5rem;
    font-size: 1.4rem;
  }
  .descripcion p {
    font-size: 1.15rem;
  }
  .valor {
    margin-top: 1rem;
  }
  .linea {
    margin-top: 0.8rem;
  }
  .autor p {
    font-size: 1.1rem;
    font-weight: 300;
  }
}
